body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f0f2f5;
    color: #020202;
    background-image: url(../complementos/ind.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    background: black;
    color: white;
    padding: 10px;
}

header h1 {
    text-align: left;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
    flex-grow: 1;
}

.logo img {
    height: 3rem;
}

.sidebar,
.Ac1,
.news {
    width: 300px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Ac1 {
    width: 400px;
}

.crear-post,
.buscar-post,
.post {
    margin-bottom: 20px;
    background: #f7f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.crear-post h2,
.buscar-post h2,
.post h2 {
    font-size: 18px;
    text-align: left;
    margin-bottom: 15px;
    color: #1877f2;
}

input,
textarea,
button {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    background-color: #1db954;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0a411d;
}

.footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}